<a href="https://colab.research.google.com/github/PrabhuP90/Phyton_Training/blob/main/Day3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
obj1 = "Hello"
obj2 = "Hello World"
print(obj1 in obj2)

True

In [ ]:
num = int(input("Enter a non negative interger : "))
fact = 1
if num < 0:
   print("Enter a Positive Integer")
elif num == 0:
   print("factorial of 0 is 1")
else:
  for n in range(1,num + 1):
      fact = fact * n
  print("The factorial of",num,"is",fact)

Enter a non negative interger : 7
The factorial of 7 is 5040

In [ ]:
num1 = 5
num2 = 10
if(num1>num2):
  print(num1," is greater than ",num2)
else:
  print(num2," is greater than ",num1)

10  is greater than  5

In [ ]:
num = int(input("Enter a number :"))
if(num % 2 == 0):
  print("The number is even")
else:
  print("The number is odd")

Enter a number :5
The number is odd

In [ ]:
year = int(input("Enter a year = "))
if(year%4 != 0):
  print(f"{year} Is not a leap year")
elif(year%100 == 0 ) and (year%400 != 0 ):
  print(f"{year} Is not a leap year")
elif(year%400 == 0 ):
  print(f"{year} Is a leap year")
else:
  print(f"{year} Is a leap year")

Enter a year = 1802
1802 Is not a leap year

In [ ]:
score = int(input("Enter your exam score :"))
if(score>50):
  print("Congratulations! You have passed")
else:
    print("Sorry,you have failed.Better luck next time")

Enter your exam score :75
Congratulations! You have passed

In [ ]:
num = int(input("Enter a number :"))
if(num==0):
  print("Zero")
elif(num>0):
  print("Positive")
else:
  print("Negative")

Enter a number :5
Positive

In [ ]:
num = int(input("Enter a postive integer = "))
print(f"Multiplication table for {num}")
for n in range(1,6):
  print(num,"x",n," =",num*n )

Enter a postive integer = 5
Multiplication table for 5
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25