<a href="https://colab.research.google.com/github/PrabhuP90/Phyton_Training/blob/main/Day4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
i = 0
while (i<5):
  num = int(input("Enter an Integer = "))
  sum = sum + num
  avg = sum/5
  i += 1
print(f"The average value is {avg}")

Enter an Integer = 10
Enter an Integer = 20
Enter an Integer = 30
Enter an Integer = 40
Enter an Integer = 50
The average value is 30.0

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
def find_gcd(x, y):
  while(y):
    x, y = y, (x % y)
  return x
print(find_gcd(num1, num2))

Enter the first number: 60
Enter the second number: 36
12

In [ ]:
num = int(input("Enter the number of rows : "))
for i in range(1,num+1):
  for j in range(i):
    print(i, end="")
  print()

Enter the number of rows : 4
1
22
333
4444

In [ ]:
num = int(input("Enter the number of rows : "))
for i in range(num+1,1,-1):
  for j in range(i):
    print("*", end="")
  print()

Enter the number of rows : 2
***
**

In [ ]:
num1 = [7, 9, 6, 10, 8]
print("Sorted List (Descending):",sorted(num1,reverse=True))

Sorted List (Descending): [10, 9, 8, 7, 6]

In [ ]:
name = input("Enter your name:")
print("Hello, " + name + "! Welcome to the program.")

Enter your name:Alice
Hello, Alice! Welcome to the program.

In [ ]:
name = input("Enter a string: ")
print("Length of the string: ", len(name))
print("Data type of the string: ", type(name))

Enter a string: Phyton
Length of the string:  6
Data type of the string:  <class 'str'>

In [ ]:
a = input("Enter a number:")
print("As Integer:",int(a))
print("As Float:",float(a))
print("As String:",a)

Enter a number:42
As Integer: 42
As Float: 42.0
As String: 42

In [ ]:
a = range(1,6)
d = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
print("Sequence: range(1, 6)")
print("As List:",list(a))
print("As Tuple:",tuple(a))
print("As Set:",set(a))
print("As Dictionary",dict(d))

Sequence: range(1, 6)
As List: [1, 2, 3, 4, 5]
As Tuple: (1, 2, 3, 4, 5)
As Set: {1, 2, 3, 4, 5}
As Dictionary {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [ ]:
a = [1, 2, 3, 4, 5]
sum = sum(a)
print("Sum:", sum)

TypeError: 'int' object is not callable

In [ ]:
number = -10.005
print("Absolute Value:",abs(number))

Absolute Value: 10.005

In [ ]:
num = float(input("Floating-point number: "))
dec = int(input("Number of decimal places: " ))
print("Rounded Value: ", abs(round(num,dec)))

Floating-point number: 3.14159
Number of decimal places: 2
Rounded Value:  3.14

In [ ]:
num = [5, 2, 8, 1, 7]
print("Minimum Value:",min(num))
print("Maximum Value:",max(num))

Minimum Value: 1
Maximum Value: 8

In [ ]:
num = [6, 5, 7, 4, 3]
print("Sorted List:",sorted(num))

Sorted List: [3, 4, 5, 6, 7]