<a href="https://colab.research.google.com/github/PrabhuP90/Phyton_Training/blob/main/Day5_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def square(a):
  b = a**2
  print("The square of",a, "is" , b)
num = int(input("Enter a number : "))
square(num)

Enter a number : 5
The square of 5 is 25

In [ ]:
def greet(a, b="Hi"):
  print(b,"," ,a, "!")
name = input("Enter a name : ")
greet(name)

Enter a name : Alice
Hi , Alice !

In [ ]:
def add(a,b):
  c=a+b
  print("The sum of", a,"and", b, "is", c)

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the Second number: "))
add(num1,num2)

Enter the first number: 50
Enter the Second number: 60
The sum of 50 and 60 is 110

In [ ]:
def power(a,b):
  c=a**b
  print(a,"raised to power of ", b, "is", c)
num1 = int(input("Enter the base: "))
num2 = int(input("Enter the exponent: "))
power(num1,num2)

Enter the base: 2
Enter the exponent: 3
2 raised to power of  3 is 8

In [ ]:
def calculate_area(a,b =1):
  c=a*b
  print("The area of the rectangle is ", c)
num1 = int(input("Enter the length: "))
num2 = input("Enter the width (press Enter to use default value): ")
calculate_area(num1)

Enter the length: 10
Enter the width (press Enter to use default value):
The area of the rectangle is  10

In [ ]:
def greet_person(name,greet,b ="Hello"):
   if(len(greet)==0):
      print(b,"," ,name, "!")
   else:
      print(greet,"," ,name, "!")
i=0
while i<2:
    n = input("Enter a name : ")
    new_wish = input("Enter a custom greeting (press Enter for default): ")
    greet_person(name = n, greet = new_wish)
    i+=1

Enter a name : Alice
Enter a custom greeting (press Enter for default):
Hello , Alice !
Enter a name : Bob
Enter a custom greeting (press Enter for default): Hi there
Hi there , Bob !

*Keyword* Arguments

In [ ]:
def person_info(n,a,c):
  print("Personal Information:")
  print("Name:",n)
  print("Age:",a)
  print("Country:",c)

name_ip = input("Enter the name: ")
age_ip = input("Enter the age: ")
country_ip = input("Enter the country: ")
person_info(n=name_ip,a=age_ip,c=country_ip)

Enter the name: Alice
Enter the age: 16
Enter the country: India
Personal Information:
Name: Alice
Age: 16
Country: India

In [ ]:
def calculate_interest(p,r,t):
  si = (p*r*t)/100
  print("The simple interest is:",si)

principal = int(input("Enter the principal amount: "))
rate = int(input("Enter the rate of interest: "))
time = int(input("Enter the time: "))
calculate_interest(p=principal,r=rate,t=time)

Enter the principal amount: 1000
Enter the rate of interest: 5
Enter the time: 2
The simple interest is: 100.0

Arbitrary Arguments

In [ ]:
#Trail 1
num = input("Enter numbers separated by space: ")
num_list  = num.split()
print(num_list)
sum = 0
for i in range(len(num_list)):
    num_list[i] = int(num_list[i])
    sum = sum + num_list[i]

print("The sum of the numbers is: ", sum)

Enter numbers separated by space: 1 2 3
['1', '2', '3']
The sum of the numbers is:  6

In [ ]:
#Trail 2
def sum_all(a):
  print(a)
  total = 0
  for i in a:
    total += i
  print("The sum of the numbers is: ",total)

num = input("Enter numbers separated by space: ")
num_list = [int(x) for x in num.split()]
sum = sum_all(num_list)

Enter numbers separated by space: 1 2 3
[1, 2, 3]
The sum of the numbers is:  6

In [ ]:
def sum_all(*a):
  print(a)
  total = 0
  for i in a:
    for j in i:
      total += j
  print("The sum of the numbers is: ",total)

num = input("Enter numbers separated by space: ")
num_list = [int(x) for x in num.split()]
sum = sum_all(num_list)

Enter numbers separated by space: 10 20 40 50
([10, 20, 40, 50],)
The sum of the numbers is:  120

Q10

In [ ]:
def print_items(*a):
  print("Items: ")
  for i in a:
      for j in i:
        print(j,end='\n')

in_items = input("Enter items separated by space: ")
in_list = [x for x in in_items.split()]
print_items(in_list)

Enter items separated by space: Apple Banana Orange
Items:
Apple
Banana
Orange

In [ ]:
def person_info(n,a,c):
  print("Personal Information:")
  print("Name:",n,"Age:",a,"Country:",c)

info_ip = input("Enter name, age, and country separated by space: ")
print(info_ip)
info = [x for x in info_ip.split()]
print(info)
person_info(*info)

Enter name, age, and country separated by space: Alice 16 India
Alice 16 India
['Alice', '16', 'India']
Personal Information:
Name: Alice Age: 16 Country: India

In [ ]:
def product(*a):
  ans = 1
  for i in a:
    for j in i:
      ans *= j
  print("Product: ",ans)

info_ip = input("Enter three numbers separated by space: ")
info = [int(x) for x in info_ip.split()]
product(info)

Enter three numbers separated by space: 2 3 4
Product:  24

In [ ]:
def is_even(a):
  if(a%2==0):
    return True
  else:
    return False

ip = int(input("Enter a number: "))
print(is_even(ip))

Enter a number: 7
False

In [ ]:
def is_vowel(a):
  vowel = 'aeiouAEIOU'
  if(a in vowel):
    return True
  else:
    return False

ip = input("Enter a character: ")
print(is_vowel(ip))

Enter a character: g
False

In [ ]:
def split_name(a):
  info = [x for x in a.split()]
  return info
info_ip = input("Enter a full name: ")
print(split_name(info_ip))

Enter a full name: John Doe
['John', 'Doe']

In [ ]:
def perform_operation(a,b,cond):
  if(cond=="add"):
    c=a+b
    return c
  elif(cond=="subtract"):
    c=a-b
    return c
  elif(cond=="multiply"):
    c=a*b
    return c
  elif(cond=="divide"):
    c=a/b
    return c
  else:
    return "Invalid"
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
oper = input("Enter the operation ('add', 'subtract', 'multiply', 'divide'): ")
print("Result",perform_operation(num1, num2, oper))

Enter the first number: 10
Enter the second number: 5
Enter the operation ('add', 'subtract', 'multiply', 'divide'): multiply
Result 50

In [ ]:
num1 = int(input("Enter a number: "))
square = lambda a:a*a
print("Square:", square(num1))

Enter a number: 5
Square: 25

Question 18:
Write a Python function named fi lter_even that takes a list of numbers and a lambda function asarguments. The lambda function should be used to fi lter out even numbers from the list.
Algorithm:
Defi ne a function fi lter_even() that takes a list and a lambda function.
Use the fi lter() function along with the lambda function to fi lter out even numbers.
Sample Input:
Enter a list of numbers (comma-separated): 1, 2, 3, 4, 5, 6
Sample Output:
Even Numbers: [2, 4, 6]

In [23]:
def filter_even(even,*a):
  list=[]
  for i in a:
    if(even(i) == 0):
      list.append(i)
  print("Even Numbers: ",list)

get = input("Enter a list of numbers (comma-separated): ")
ip = [int(x) for x in get.split(",")]
even = lambda x: x % 2
filter_even(even,*ip)

Enter a list of numbers (comma-separated): 1,2,3,4,5,6
Even Numbers:  [2, 4, 6]